*{
    margin: 0;
    padding: 0;
}
body{
    margin-left: auto;
    margin-right: auto;
    background: url('./chatarea2.jpeg');
    height: 100vh;
    overflow-y: hidden;
}

.chatarea
{
    height: 80%;
    width: 60%;
    min-width: none;
    background: rgb(230,83,79);
    background: linear-gradient(156deg, rgba(230,83,79,0.25) 5%, rgba(103,188,255,0.25) 100%);
    border-radius: 2%;
    margin: auto;
    margin-top: 2%;
    overflow-y: auto;
}

.sendsection
{
    text-align: center;
    margin-top: 10px;
}

#textin
{
    width: 55%;
    border-color: aquamarine;
    border-width: 2px;
    border-radius: 20px;
    outline: none;
    height: 20px;
}
.btn 
{
    border-radius: 2px;
    border-color: aquamarine;
    transform: translate(10px,4px);
}

.message
{
   
    width: 25%;
    padding: 10px;
    border-color: aquamarine;
    border-width: 2px;
    border-radius: 5px;
    margin : 10px 10px
}
.r
{
    background-color: palegreen;
    float: right;
    clear: both;
}
.l
{
    background-color: lightblue;
    float: left;
    clear: both;
}